<div class="top">
	<div class="top-img">
    	<div class="user">您好：<span class="name"><%=current_user.login%></span> 欢迎使用融通四海后台管理系统<span class="logout">
<a href="/logout"><input type="submit" value="退出" /></a>
          </span></div>
    </div>
</div>